body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}
header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}
main {
  padding: 2rem;
}
nav {
  background: #444;
  padding: 0.2rem 2rem;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}
nav a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
nav .current > a {
  color: yellow;
}
/*Popup Install*/
.bottoniera{
  display:flex;
  justify-content: space-around;
  margin: 0 0 0 auto;
  max-width: 308px;
}
/*Speech Bubble*/
/*custom*/
.speech-bubble a.close {
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    height: 24px;
    width: 24px;
    position: absolute;
    top: -10px;
    z-index: 1;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    color: white;
    /* display: none; */
    right: -11px;
}
.speech-bubble .container {
    font-size: 1.2rem;
    display: flex;
    padding: 0px!important;
    margin: 0px 0px 0px 0px!important;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    background: #8CA8D8;
    max-width: 344px;
    border-radius: 5px;
    position: relative;
}
.speech-bubble .apple-add-icon-container {
    background-color: #acc1e4;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 9px;
    margin-left: 14px;
}
.speech-bubble .apple-share-title{
    font-size: 20px;
    font-weight: 500;
}
@media(max-width: 278px){
  .speech-bubble .apple-add-icon-container{
    display: none!important;
  }
  .speech-bubble .apple-share-container{
    text-align: center!important;
  }
}
.speech-bubble .apple-share-container {
    padding: 7px;
    max-width: 233px;
}
.speech-bubble .apple-add-icon {
    width: 32px;
    border-radius: 8px;
    background-color: unset;
    filter: invert(1);
    height: 32px;
}
.speech-bubble img {
    width: 20px;
    margin: 0px 3px;
    vertical-align: sub;
    filter: invert(1);
    background-color: #8ca084;
    padding: 3px;
    border-radius: 4px;
}
.speech-bubble {
    position: fixed!important;
    bottom: -14px;
    width: 100%;
    border-left: none;
    left: 2px;
    z-index: 200000;
    padding: 0px 7px!important;
}
/*original*/
.speech-bubble {
    -webkit-filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
    margin: 36px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    /* background: #8CA8D8; */
    color: white;
    display: flex;
    justify-content: space-around;
}
/*.speech-bubble::before {
  border: 12.5px solid transparent;
  border-top: 12.5px solid #8CA8D8;
  border-bottom: 0;
  height: 0;
  width: 0;
  border-top-width: 25px;
  content: '';
  display: block;
  position: absolute;
  left: 3rem;
  bottom: -25px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
          transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
}*/
.speech-bubble::before {
    border: 12.5px solid transparent;
    border-top: 12.5px solid #8CA8D8;
    border-bottom: 0;
    height: 0;
    width: 0;
    border-top-width: 25px;
    content: '';
    display: block;
    position: absolute;
    left: 49%;
    bottom: -25px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
    transform: rotate(117deg) translateY(16.6666666667px);
}
.speech-bubble cite {
  position: absolute;
  bottom: -2rem;
  left: 4.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
}